/**
 * This file was auto-generated by Fern from our API Definition.
 */
package ai.extend.resources.edit;

import ai.extend.core.ClientOptions;
import ai.extend.core.RequestOptions;
import ai.extend.resources.edit.requests.EditCreateAsyncRequest;
import ai.extend.resources.edit.requests.EditCreateRequest;
import ai.extend.resources.edit.types.EditDeleteResponse;
import ai.extend.resources.edit.types.EditGetResponse;
import ai.extend.types.EditRun;
import ai.extend.types.EditRunStatus;
import java.util.concurrent.CompletableFuture;

public class AsyncEditClient {
    protected final ClientOptions clientOptions;

    private final AsyncRawEditClient rawClient;

    public AsyncEditClient(ClientOptions clientOptions) {
        this.clientOptions = clientOptions;
        this.rawClient = new AsyncRawEditClient(clientOptions);
    }

    /**
     * Get responses with HTTP metadata like headers
     */
    public AsyncRawEditClient withRawResponse() {
        return this.rawClient;
    }

    /**
     * Edit and manipulate PDF documents by detecting and filling form fields.
     * This is a synchronous endpoint that will wait for the edit operation to complete (up to 5 minutes) before returning results. For longer operations, use the <a href="/developers/api-reference/edit-endpoints/edit-file-async">Edit File Async</a> endpoint.
     */
    public CompletableFuture<EditRun> create(EditCreateRequest request) {
        return this.rawClient.create(request).thenApply(response -> response.body());
    }

    /**
     * Edit and manipulate PDF documents by detecting and filling form fields.
     * This is a synchronous endpoint that will wait for the edit operation to complete (up to 5 minutes) before returning results. For longer operations, use the <a href="/developers/api-reference/edit-endpoints/edit-file-async">Edit File Async</a> endpoint.
     */
    public CompletableFuture<EditRun> create(EditCreateRequest request, RequestOptions requestOptions) {
        return this.rawClient.create(request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Edit and manipulate PDF documents <strong>asynchronously</strong> by filling forms, adding/modifying text fields, and applying structured changes.
     * <p>The Edit Async endpoint allows you to convert and edit documents asynchronously and get an edit run ID that can be used to check status and retrieve results with the <a href="/developers/api-reference/edit-endpoints/get-edit-run">Get Edit Run</a> endpoint.</p>
     * <p>This is useful for:</p>
     * <ul>
     * <li>Large files that may take longer to process</li>
     * <li>Avoiding timeout issues with synchronous editing</li>
     * <li>Processing multiple files in parallel</li>
     * </ul>
     */
    public CompletableFuture<EditRunStatus> createAsync(EditCreateAsyncRequest request) {
        return this.rawClient.createAsync(request).thenApply(response -> response.body());
    }

    /**
     * Edit and manipulate PDF documents <strong>asynchronously</strong> by filling forms, adding/modifying text fields, and applying structured changes.
     * <p>The Edit Async endpoint allows you to convert and edit documents asynchronously and get an edit run ID that can be used to check status and retrieve results with the <a href="/developers/api-reference/edit-endpoints/get-edit-run">Get Edit Run</a> endpoint.</p>
     * <p>This is useful for:</p>
     * <ul>
     * <li>Large files that may take longer to process</li>
     * <li>Avoiding timeout issues with synchronous editing</li>
     * <li>Processing multiple files in parallel</li>
     * </ul>
     */
    public CompletableFuture<EditRunStatus> createAsync(EditCreateAsyncRequest request, RequestOptions requestOptions) {
        return this.rawClient.createAsync(request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Retrieve the status and results of an edit run.
     * <p>Use this endpoint to get results for an edit run that has already completed, or to check on the status of an asynchronous edit run initiated via the <a href="/developers/api-reference/edit-endpoints/edit-file-async">Edit File Asynchronously</a> endpoint.</p>
     * <p>If editing is still in progress, you'll receive a response with just the status. Once complete, you'll receive the full edited file information in the response.</p>
     */
    public CompletableFuture<EditGetResponse> get(String id) {
        return this.rawClient.get(id).thenApply(response -> response.body());
    }

    /**
     * Retrieve the status and results of an edit run.
     * <p>Use this endpoint to get results for an edit run that has already completed, or to check on the status of an asynchronous edit run initiated via the <a href="/developers/api-reference/edit-endpoints/edit-file-async">Edit File Asynchronously</a> endpoint.</p>
     * <p>If editing is still in progress, you'll receive a response with just the status. Once complete, you'll receive the full edited file information in the response.</p>
     */
    public CompletableFuture<EditGetResponse> get(String id, RequestOptions requestOptions) {
        return this.rawClient.get(id, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Delete an edit run and all associated data from Extend. This operation is permanent and cannot be undone.
     * <p>This endpoint can be used if you'd like to manage data retention on your own rather than relying on automated data retention policies, or to make one-off deletions for your downstream customers.</p>
     */
    public CompletableFuture<EditDeleteResponse> delete(String id) {
        return this.rawClient.delete(id).thenApply(response -> response.body());
    }

    /**
     * Delete an edit run and all associated data from Extend. This operation is permanent and cannot be undone.
     * <p>This endpoint can be used if you'd like to manage data retention on your own rather than relying on automated data retention policies, or to make one-off deletions for your downstream customers.</p>
     */
    public CompletableFuture<EditDeleteResponse> delete(String id, RequestOptions requestOptions) {
        return this.rawClient.delete(id, requestOptions).thenApply(response -> response.body());
    }
}
